<!DOCTYPE html> 
<html>
    <head> 
    <title>Sweet Stuff</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body>
        

<header>
        <div class="nav-bar">
            <ul class="nav">
    <li><a href="homepage.html"><span class="navword">Home</span></a></li>
    <li><a href="products.html"><span class="navword">Products</span></a></li>
    <li><a href="shoppingcart.html"><span class="navword">Cart({{cart.length}})</span></a></li>
    <li><a href="aboutus.html"><span class="navword">About Us</span></a></li>
    <li><a href="contactus.html"><span class="navword">Contact Us</span></a></li>
            </ul>
        </div>
</header>
    
    <main>
    
        <div class="heading">
                <hr>
                <h1 class="heading1"> Hoodies </h1>
                <hr>
            </div>
        
            <div id = "app">
                <div class="cart">
                <p> Cart({{cart}})</p>
                </div>
                
                
            <div class="product1">
                <div class="productImageOne">
               <img v-bind:src ="imageOne">
            </div>
                
                <div class="productOneInfo">
                <h1> {{productOne}}</h1>
                <p v-if="inventoryOne >10"> In Stock</p>
                <p v-else-if="inventoryOne <=10 && inventoryOne >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailOne">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsOne" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                
                <div class="product2">
                <div class="productImageTwo">
               <img v-bind:src ="imageTwo">
            </div>
                
                <div class="productTwoInfo">
                <h1> {{productTwo}}</h1>
                <p v-if="inventoryTwo >10"> In Stock</p>
                <p v-else-if="inventoryTwo <=10 && inventoryTwo >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailTwo">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsTwo" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                <div class="product3">
                <div class="productImageThree">
               <img v-bind:src ="imageThree">
            </div>
                
                <div class="productThreeInfo">
                <h1> {{productThree}}</h1>
                <p v-if="inventoryThree >10"> In Stock</p>
                <p v-else-if="inventoryThree <=10 && inventoryThree >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailThree">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsThree" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                
                <div class="product4">
                <div class="productImageFour">
               <img v-bind:src ="imageFour">
            </div>
                
                <div class="productFourInfo">
                <h1> {{productFour}}</h1>
                <p v-if="inventoryFour >10"> In Stock</p>
                <p v-else-if="inventoryFour <=10 && inventoryFour >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailFour">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsFour" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                
                <div class="product5">
                <div class="productImageFive">
               <img v-bind:src ="imageFive">
            </div>
                
                <div class="productFiveInfo">
                <h1> {{productFive}}</h1>
                <p v-if="inventoryFive >10"> In Stock</p>
                <p v-else-if="inventoryFive <=10 && inventoryFive >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailFive">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsFive" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                <div class="heading">
                <hr>
                <h1 class="heading2"> Jeans </h1>
                <hr>
            </div>
                   <div class="product6">
                <div class="productImageSix">
               <img v-bind:src ="imageSix">
            </div>
                
                <div class="productSixInfo">
                <h1> {{productSix}}</h1>
                <p v-if="inventorySix >10"> In Stock</p>
                <p v-else-if="inventorySix <=10 && inventorySix >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailSix">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsSix" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                
                 <div class="product7">
                <div class="productImageSeven">
               <img v-bind:src ="imageSeven">
            </div>
                
                <div class="productSevenInfo">
                <h1> {{productSeven}}</h1>
                <p v-if="inventorySeven >10"> In Stock</p>
                <p v-else-if="inventorySeven <=10 && inventorySeven >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailSeven">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsSeven" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                 <div class="product8">
                <div class="productImageEight">
               <img v-bind:src ="imageEight">
            </div>
                
                <div class="productEightInfo">
                <h1> {{productEight}}</h1>
                <p v-if="inventoryEight >10"> In Stock</p>
                <p v-else-if="inventoryEight <=10 && inventoryEight >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailEight">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsEight" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                
                <div class="product9">
                <div class="productImageNine">
               <img v-bind:src ="imageNine">
            </div>
                
                <div class="productNineInfo">
                <h1> {{productNine}}</h1>
                <p v-if="inventoryNine >10"> In Stock</p>
                <p v-else-if="inventoryNine <=10 && inventoryNine >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailNine">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsNine" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
                
                <div class="product10">
                <div class="productImageTen">
               <img v-bind:src ="imageTen">
            </div>
                
                <div class="productTenInfo">
                <h1> {{productTen}}</h1>
                <p v-if="inventoryTen >10"> In Stock</p>
                <p v-else-if="inventoryTen <=10 && inventoryTen >0"> Almost Out Of Stock</p>
                <p v-else>Out Of Stock</p>
                    
                <ul><li v-for="detail in detailTen">{{ detail }}</li>
                    </ul>
                <div v-for="variant in variantsTen" :key="variant.variantId">
                    <p @mouseover ="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
                </div>
                    <button v-on:click="addToCart">Add To Cart</button>
                </div>
        </div>
        
        </div>
        </main>


<footer>
    <p> &copy; sweetStuff.com (2019) </p>
</footer>
        
    


 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
    </body>
    </html>
